.carousel {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.carousel__tray {
  list-style: none;
  position: relative;
  padding: 0;
  min-width: 100%;
  position: relative;
  transform: translateX(0);
}

.carousel__item {
  cursor: pointer;
  display: inline-block;
  flex: 1;
  padding: 10px;
  position: relative;  
}
